@import 'framework/variables';

$records-footer-height: 47px;

.content-wrapper {
  min-height: calc(100vh - #{$header-height});
  position: relative;

  .with-performance-bar & {
    min-height: calc(100vh - #{$header-height} - #{$performance-bar-height});
  }

  .jh-records-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: padding $sidebar-transition-duration;
    background-color: $gray-lighter;
    color: $gray-500;
    height: $records-footer-height;
    line-height: $records-footer-height;

    .jh-records-link {
      margin-right: 16px;
    }

    a,
    a:visited {
      color: $gray-500;
    }
  }

  .layout-page:not(.right-sidebar-expanded):not(.right-sidebar-collapsed) & .jh-records-footer {
    padding-right: 0;
  }

  @include media-breakpoint-only(sm) {
    &:not(.wiki-sidebar):not(.build-sidebar):not(.issuable-bulk-update-sidebar) {
      .jh-records-footer {
        padding-right: $gutter-collapsed-width;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .jh-records-footer {
      padding-right: $gutter-collapsed-width;
    }

    .right-sidebar-expanded & {
      .jh-records-footer {
        padding-right: $gutter-width;
      }
    }
  }
}

.jh-page-wrapper {
  .content-wrapper {
    // This rule is meant for fixing boards content with `jh-records-footer`
    // which obscures the operation button
    .issue-boards-content {
      padding-bottom: $records-footer-height;
    }
  }
}
