- if ::Gitlab.dev_env_or_com? && ::Gitlab.jh?
  %section.settings.as-spam.no-animate#js-spam-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = s_('ContentValidation|Content Validation Service')
      %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = s_('ContentValidation|Configure Content Validation Service')
    .settings-content
      = render 'illegal'
