<script>
import $ from 'jquery';
import { GlButton, GlSafeHtmlDirective as SafeHtml } from '@gitlab/ui';

import { isLoggedIn } from '~/lib/utils/common_utils';
import { __ } from '~/locale';
import csrf from '~/lib/utils/csrf';
import '~/behaviors/markdown/render_gfm';
import PhoneForm from './phone_form.vue';

export default {
  name: 'TermsApp',
  i18n: {
    accept: __('Accept terms'),
    continue: __('Continue'),
    decline: __('Decline and sign out'),
  },
  flashElements: [],
  csrf,
  directives: {
    SafeHtml,
  },
  components: { GlButton, PhoneForm },
  inject: ['terms', 'permissions', 'paths'],
  data() {
    return {
      acceptDisabled: true,
    };
  },
  computed: {
    isLoggedIn,
  },
  mounted() {
    this.renderGFM();
  },
  methods: {
    renderGFM() {
      $(this.$refs.gfmContainer).renderGFM();
    },
    handleConfirm() {
      this.$refs.phoneForm.submit();
    },
  },
};
</script>

<template>
  <div>
    <div class="gl-card-body gl-relative gl-pb-0 gl-px-0" data-qa-selector="terms_content">
      <div
        class="terms-fade gl-absolute gl-left-5 gl-right-5 gl-bottom-0 gl-h-11 gl-pointer-events-none"
      ></div>
      <div
        ref="scrollableViewport"
        data-testid="scrollable-viewport"
        class="gl-overflow-y-auto gl-pb-11 gl-px-5"
      >
        <div ref="gfmContainer" v-safe-html="terms"></div>
        <phone-form ref="phoneForm" @phone-validation="(val) => (acceptDisabled = !val)">
          <input :value="$options.csrf.token" type="hidden" name="authenticity_token" />
        </phone-form>
      </div>
    </div>
    <div v-if="isLoggedIn" class="gl-card-footer gl-display-flex gl-justify-content-end">
      <form v-if="permissions.canDecline" method="post" :action="paths.decline">
        <gl-button type="submit">{{ $options.i18n.decline }}</gl-button>
        <input :value="$options.csrf.token" type="hidden" name="authenticity_token" />
      </form>
      <form v-if="permissions.canAccept" class="gl-ml-3">
        <gl-button
          variant="confirm"
          :disabled="acceptDisabled"
          data-qa-selector="accept_terms_and_bind_phone_button"
          @click="handleConfirm"
          >{{ $options.i18n.accept }}</gl-button
        >
      </form>
      <gl-button v-else class="gl-ml-3" :href="paths.root" variant="confirm">{{
        $options.i18n.continue
      }}</gl-button>
    </div>
  </div>
</template>
