<script>
import { GlButton, GlForm, GlFormGroup, GlFormInputGroup, GlFormSelect } from '@gitlab/ui';
import { getVerificationCode } from 'jh/rest_api';
import { phoneNumberRegex } from 'jh/pages/sessions/new/phone_validator';
import { captchaCheck } from 'jh/captcha';
import createFlash from '~/flash';
import { s__, sprintf } from '~/locale';
import axios from '~/lib/utils/axios_utils';
import { checkPhoneAvailability } from '../api';

export default {
  components: {
    GlButton,
    GlForm,
    GlFormGroup,
    GlFormInputGroup,
    GlFormSelect,
  },
  inject: ['paths'],
  data() {
    return {
      phoneNumber: '',
      phoneAvailable: '',
      verificationCode: '',
      verifyingPhone: false,
      errorMsg: '',
      cancelToken: null,
      areaCode: '+86',
      areaCodes: [
        { text: '+86', value: '+86' },
        { text: '+852', value: '+852' },
        { text: '+853', value: '+853' },
      ],
      resendCounter: null,
    };
  },
  computed: {
    isValidPhone() {
      const isValid = phoneNumberRegex[this.areaCode].test(this.phoneNumber);
      this.$emit('phone-validation', isValid);
      return isValid;
    },
    buttonText() {
      return this.resendCounter
        ? sprintf(s__('RealName|Resend in %{wait}s'), {
            wait: this.resendCounter,
          })
        : s__('RealName|Get code');
    },
    completePhoneNumber() {
      return this.areaCode + this.phoneNumber;
    },
    submitDisabled() {
      const { resendCounter, isValidPhone, phoneAvailable } = this;
      return resendCounter !== null || !isValidPhone || !phoneAvailable;
    },
  },
  methods: {
    async checkPhoneValidity() {
      this.phoneAvailable = '';
      if (this.cancelToken !== null) {
        this.cancelToken();
      }
      if (!this.isValidPhone) {
        this.errorMsg = s__('RealName|Please provide a valid phone number.');
        return;
      }
      this.errorMsg = '';
      this.verifyingPhone = true;
      try {
        const exists = await checkPhoneAvailability(this.completePhoneNumber, (c) => {
          this.cancelToken = c;
        });
        if (exists) {
          this.errorMsg = s__('RealName|Phone is already taken.');
          this.phoneAvailable = '';
        } else {
          this.phoneAvailable = s__('RealName|Phone is available.');
        }
      } catch (e) {
        if (!axios.isCancel(e)) {
          createFlash({
            message: s__('RealName|An error occurred while validating phone'),
          });
        }
      } finally {
        this.cancelToken = null;
        this.verifyingPhone = false;
      }
    },
    async sendCode() {
      if (this.phoneAvailable) {
        try {
          const params = await captchaCheck();
          try {
            await getVerificationCode({
              phone: this.completePhoneNumber,
              ...params,
            });
            this.afterVerificationCodeSent();
          } catch (e) {
            createFlash({
              message: e.message,
            });
            this.resendCounter = null;
          }
        } catch {
          createFlash({
            message: s__('RealName|Something happened when resolving captcha'),
          });
        }
      }
    },
    afterVerificationCodeSent() {
      this.resendCounter = 60;
      const timer = setInterval(() => {
        if (this.resendCounter === 0) {
          clearInterval(timer);
          this.resendCounter = null;
          return;
        }
        this.resendCounter -= 1;
      }, 1000);
    },
    submit() {
      this.$refs.formRef.$el.submit();
    },
  },
};
</script>

<template>
  <gl-form
    ref="formRef"
    novalidate
    class="phone-form gl-show-field-errors inline"
    method="POST"
    :action="paths.accept"
  >
    <gl-form-group :label="s__('RealName|Phone')" class="gl-mr-3">
      <gl-form-input-group
        v-model="phoneNumber"
        required
        type="text"
        name="phone"
        data-qa-selector="new_user_phone_field"
        style="border-top-left-radius: 0; border-bottom-left-radius: 0"
        @input="checkPhoneValidity"
      >
        <template #prepend>
          <gl-form-select
            v-model="areaCode"
            name="area_code"
            :options="areaCodes"
            @change="checkPhoneValidity"
          />
        </template>
      </gl-form-input-group>
      <p v-if="errorMsg" class="text-danger gl-mt-3">{{ errorMsg }}</p>
      <p v-if="phoneAvailable" class="text-success gl-mt-3">
        {{ phoneAvailable }}
      </p>
      <p v-if="verifyingPhone" class="text gl-mt-3">
        {{ s__('RealName|Checking phone availability...') }}
      </p>
    </gl-form-group>
    <gl-form-group :label="s__('RealName|Verification code')">
      <gl-form-input-group
        v-model="verificationCode"
        required
        type="text"
        name="verification_code"
        data-qa-selector="new_user_verification_code_field"
        style="border-top-right-radius: 0; border-bottom-right-radius: 0"
      >
        <template #append>
          <gl-button
            class="btn form-control gl-button gl-ml-3 btn-confirm gl-display-block gl-w-auto"
            :disabled="submitDisabled"
            @click="sendCode"
          >
            {{ buttonText }}
          </gl-button>
        </template>
      </gl-form-input-group>
      <slot></slot>
    </gl-form-group>
  </gl-form>
</template>
